/*=============================================
=            Filter Content Styles            =
=============================================*/

// div that holds items
.filterable {
	color:white;
}

// individual items
.filterableItem {
	height:150px;
	width:150px;
	display:inline-block;
	float:left;
	margin:2%;
}

.typeOne {
	background:lighten(teal,5%);
}

.typeTwo {
	background:lighten(pink,5%);
}

.typeThree {
	background:lighten(purple,5%);
}

.typeFour {
	background:lighten(red,10%);
}

.typeFive {
	background:lighten(yellow,10%);
}

/*-----  End of Filter Content Styles  ------*/