/*==================================
=            Filter Nav            =
==================================*/

.filterControls {
	margin-bottom:50px;
}

.filterResults {
	float:left;
	min-height:50px;
}

ul.filterNav li {
	list-style-type: none;
	display:inline-block;
	float:left;
	text-align:center;
	margin:5px;
	font-size:24px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px;
} 

a.filterControl{
	// color:lighten(purple,3%);
	&:hover {
		background: lighten(teal,10%);
		color:white; 
	}
} // li a.filterControl


/*-----  End of Filter Nav  ------*/