// =============================================
// =            Filter Content Styles            =
// =============================================*/

// div that holds items
.filterable {
	color:white;
	margin: 0 auto;	
}

// individual items (sections)
.filterableItem {
	height:150px;
	width:150px;
	margin:5px;
	padding:10px;

	display:inline-block;
	float:left;
	// vertical centering technique:
	position:relative; // relative because it is the parent of the <p> element inside it

}

// item content 
.filterableItem p {
	text-transform:capitalize;
	// vertical centering technique:
	// http://css-tricks.com/centering-css-complete-guide/
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:lighten(black,15%);
	padding:1em;
}

/*======================================================
=     Styles for filterable content (items): colours   =
======================================================*/

.itemType-1 {
	background:lighten(teal,14%);
}

.itemType-2 {
	background:darken(pink,20%);
}

.itemType-3 {
	background:lighten(purple,5%);
}

.itemType-4 {
	background:lighten(red,10%);
}

.itemType-5 {
	background:lighten(blue,30%);
}

/*-----  End of Styles for filterable content (items): colours  ------*/

/*======================================================
=      Styles for filterable content (items) shapes  =
======================================================*/

[data-shape~="circle"]{
	border-radius:50%;
}

[data-shape~="hexagon"]{
	position: relative;
	width: 150px; 
	height: 86.60px;
	background-color: yellow;
	margin: 43.30px 0;
}

[data-shape~="hexagon"]:before,
[data-shape~="hexagon"]:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

[data-shape~="hexagon"]:before {
  bottom: 100%;
  border-bottom: 43.30px solid yellow;
}

[data-shape~="hexagon"]:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid yellow;
}

/*-----  End of Styles for filterable content (items) shapes  ------*/





/*-----  End of Filter Content Styles  ------*/